@model ticketing_system.Models.ViewModels.LoginViewModel


<style>
    .form-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25vw;
        min-width: 300px; /* Ensure the form doesn't get too small */
        height: 59vh;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        padding: 20px;
        border: 2px solid white;
        border-radius: 25px;
    }

    .my-input {
        background-color: rgba(255, 255, 255, 0.05);
        border: 2px solid white;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        color: wheat;
    }

    .btn {
        width: 100%;
        padding: 1vh 1vw;
        font-size: 2.5vh;
    }

    .pass-change-a {
        font-size: 2.5vh;
    }

    .err-msg {
        height: 35px;
    }

    @@media (max-width: 768px) {
        .form-div {
            width: 80vw; /* Form takes more width on smaller screens */
            height: auto;
            padding: 10px;
        }

        .btn, .my-input {
            font-size: 1.8vh;
        }

        .pass-change-a {
            font-size: 1.8vh;
        }

        h2 {
            font-size: 2em;
        }

        p.text-light {
            font-size: 1.6em;
        }
    }

    @@media (max-width: 480px) {
        .form-div {
            width: 90vw;
        }

        .btn {
            font-size: 1.6vh;
        }

        .my-input {
            font-size: 1.6vh;
        }

        .pass-change-a {
            font-size: 1.6vh;
        }

        h2 {
            font-size: 1.8em;
        }

        p.text-light {
            font-size: 1.4em;
        }
    }

    @@media (min-width: 1024px) {
        .form-group {
            padding: 0.2rem; /* Smanjite padding između labela i input polja */
        }

        .form-div {
            margin-top: 2rem; /* Smanjite marginu između naslova i forme */
        }
    }

</style>


<div class="row">
    <div class="col-md-6 col-12">
        <div class="container form-div mt-5">
            <div class="text-center">
                <h2 class="text-white-50">Login</h2>
            </div>
            <form asp-action="Login" asp-controller="Login" method="post">
                <div class="form-group p-2">
                    <label asp-for="Username" class="text-light p-1">Username</label>
                    <input asp-for="Username" class="form-control my-input" placeholder="Enter username:" />
                    <span asp-validation-for="Username" class="text-warning err-msg"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="Password" class="text-light p-1">Password</label>
                    <input asp-for="Password" class="form-control my-input" placeholder="Enter password:" type="password" />
                    <span asp-validation-for="Password" class="text-warning err-msg"></span>
                </div>
                <div class="form-group p-2">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label text-light"></label>
                </div>
                <div class="text-center mt-5 d-grid p-3">
                    <input type="submit" class="btn btn-outline-light" value="Login" />
                </div>
            </form>
        </div>
        <div class="p-3 text-center">
            <a href="@Url.Action("Index", "ChangePass")" class="pass-change-a">Change password?</a>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="mt-5 p-3">
            <p class="text-light h3 mt-4">
                This application enables you to keep records for all bugs and problems in your system/company.
                Users can be admins or basic users. Admins can manage the system, while basic users can open,
                close, and update incidents.
            </p>
            <br />
            <p class="text-light h4">
                - Get in touch -<br>
                Phone number: +381 62 333221<br>
                Email address: info@ticketingsystem.com
            </p>
        </div>
    </div>
</div>
