@model ticketing_system.Models.Ticket;

<div>
    <form action="@Url.Action("CreateTicketAsync", "Tickets")" method="post">
        <h4>Create ticket</h4>
        
        <div class="form-group">
            <label asp-for="UrgencyId" class="text-light p-1"></label>
            <input asp-for="UrgencyId" type="text" class="form-control my-input" placeholder="Choose urgency: " />
            <span asp-validation-for="UrgencyId" class="text-warning"></span>
        </div>

        <div class="form-group">

        </div>

    </form>
</div>